doctype 5
html
    head
        link(href='/css/bootstrap.css', rel='stylesheet')
        link(href='/css/select2.css', rel='stylesheet')
        link(href='/css/main.css', rel='stylesheet')
        link(href='/css/tree.css', rel='stylesheet')
        script(src='/socket.io/socket.io.js')
        script(src='/js/lib/jquery.min.js')
        script(src='/js/lib/select2.min.js')
        script(src='/js/lib/underscore.min.js')
        script(src='/js/lib/backbone.min.js')
        script(src='/js/lib/bootstrap.js')
        script(src='/js/lib/backbone-extensions.js')
        script(src='/js/models.js')
        script(src='/js/views.js')
        script(src='/js/main.js')
    body
        .navbar
            .navbar-inner
                .container
                    a.brand Eventish
        .container-fluid
            .row-fluid
                .span3
                    form.well
                        label Event Subscriptions
                        input(placeholder='choose tags')#tags
                        label Highlight Tags
                        input(placeholder='highlight tags')#highlight
                .span9
                    ol#main_tree.tree
                    ol#error_tree.tree
                    div#chart
                    